.VidaMarinhaContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  height: 110vh;
  margin-top: 3%;   
  padding: 1.5%;
  background-color: #183d67ad;
  color: white;
  box-shadow: 0px -20px 40px rgba(52, 140, 55, 1);
  border-radius: 8px; 

}





.VidaMarinhaImagem {
  width: 25%;
  border-radius: 5%;
  margin-left: 1%;
  transition: transform 0.3s ease;
}

.VidaMarinhaImagem:hover {
  transform: scale(1.05);
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
}

.VidaMarinhaTitulo {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

.VidaMarinhaBlocos {
  display: flex;
  flex-direction: column;
}

.VidaMarinhaBloco1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  font-size: 1.3em;
  text-align: justify;
  width: 50vw;
  height: 50vh;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, background-color 0.3s ease;
  p{
    margin-left: -47%;
  }
}

.arrumando{
margin-top: -10%;
}

.VidaMarinhaBloco2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  font-size: 1.3em;
  width: 50vw;
  height: 50vh;
  margin-top: 3%;
  text-align: justify;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, background-color 0.3s ease;
}